/* DOCS -->
    MARGINS, BORDER: Top Right Bottom Left;  T R B L
*/
/* px value at 1700px */
:root {
    /* Black and White */
    --color-white: rgb(230, 230, 230);
    --color-black: rgb(13, 13, 13);

    /* Color Palette */
    --color-brand: rgb(220, 20, 60); /*#DC143C - Crimson, my boos fav*/
    /* NOTE: If you change the primary color, make sure to update the calendar graph colors and logo.svg as well */

    --phone-width: 1080px;

    /* Spacing */
    --spacing-tiny: 3px;
    --spacing-small: 6px;
    --spacing-medium: 12px;
    --spacing-large: 24px;
    --spacing-very-large: 48px;
    --spacing-huge: 96px;

    /* Transition */
    --transition-default: 0.420s;

    /* Size */
    --max-body-width: 990px;
    --max-content-width: 690px;

    /* Radius */
    --default-radius: 6px;
    --small-radius: 3px;

    /* Font */
    --font-family: 'Helvetica';
    --regular-weight: 469;
    --bold-weight: 869;
    --line-height: 1.5;

    --regular-text-size: 14px;
    --title-font-size: 21px;
    --super-title-font-size: 33px;
    --hero-font-size: 69px;

    /* Icon */
    --regular-icon-size: 19px;
    --large-icon-size: 27px;

    /* Border */
    --border-width: 1px;

    /* Z-Index */
    --z-index-overlay: 1;
    --z-index-max: 2;
    --transform-scale: 1.069;
    --active-scale: 0.869;
    --blur-radius: 9px;
    --more-blur-radius: 27px;
    --brighter: 2.69; /* make it lighter */
    --darker: 0.69; /* make it darker */
    --magic-opacity: 0.69;

    /* App */
    --home-control-width: 179px;
    --blog-card-and-header-height: 221px;
    --blog-sidebar-max-width: 269px;
    --about-entity-height: 250px;
    --spinner-size: 69px;
    --app-drawer-button-height: 100px;
    --app-window-width: 1347px;
    --app-window-height: 790px;
}

.light-mode {
    --color-background: var(--color-white);
    --color-primary: rgba(201, 201, 201, 0.73);
    --color-text: rgb(47, 47, 47);
    --box-shadow: 0 1px 5px rgba(0, 0, 0, 0.27);
}

.dark-mode {
    --color-background: var(--color-black);
    --color-primary: rgba(69, 69, 69, 0.73);
    --color-text: rgb(169, 169, 169);
    --box-shadow: 0 1px 5px rgba(255, 255, 255, 0.27);
}

/* Phone Override */
@media (max-width: 600px) {
    :root {
        --max-body-width: 469px;
        --max-content-width: 321px;

        --regular-text-size: 8px;
        --title-font-size: 14px;
        --super-title-font-size: 18px;
        --hero-font-size: 21px;

        --regular-icon-size: 10px;
        --large-icon-size: 14px;

        --spacing-tiny: 1px;
        --spacing-small: 3px;
        --spacing-medium: 6px;
        --spacing-large: 12px;
        --spacing-very-large: 24px;
        --spacing-huge: 48px;

        --blog-card-and-header-height: 99px;
        --blog-sidebar-max-width: 69px;
        --about-entity-height: 100px;
        --spinner-size: 27px;
        --app-drawer-button-height: 27px;
        --app-window-width: 321px;
        --app-window-height: 570px;
    }
}



/* ----------------------------- Body Styling ----------------------------- */
body {
    font-family: var(--font-family), serif;
    margin: 0;
    padding: var(--spacing-large) !important;
    letter-spacing: var(--border-width);
    transition: all var(--transition-default);
    justify-content: center;
    align-content: center;
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: var(--line-height);
    font-size: var(--regular-text-size);
}

.content {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: var(--max-body-width);
    border-style: solid;
    border-width: 0;
    border-radius: var(--default-radius);
    border-color: var(--color-primary);
    transition: all var(--transition-default);
}

.content.block {
    justify-content: center;
    align-content: center;
    padding: var(--spacing-large);
    width: 100%;
    border-radius: var(--default-radius);
    background-color: var(--color-primary);
}

.content.reading {
    font-size: var(--regular-text-size);
    width: var(--max-content-width);
    line-height: var(--line-height);
}

.content.with-padding {
    padding: var(--spacing-large);
}

.content.with-border {
    border-width: var(--border-width);
}


/* ----------------------------- Text Styling ----------------------------- */

h1, h2, h3 {
    color: var(--color-text);
    font-size: var(--title-font-size);
    line-height: var(--line-height);
    font-weight: var(--bold-weight);
    margin: 0 0 var(--spacing-small) 0; /* Make sure to have space at the bottom */
    padding: 0;
    border: none;
}

h1 {
    text-transform: uppercase;
    font-size: var(--super-title-font-size);
}

h3 {
    font-size: var(--regular-text-size);
}

p {
    font-weight: var(--regular-weight);
    font-size: var(--regular-text-size);
    margin: 0;
    text-align: justify-all;
}

a {
    text-decoration: underline;
    color: var(--color-brand);
}

section {
    margin: var(--spacing-large) 0;
    padding: 0;
    border: none;
}

.underline {
    border-bottom: var(--border-width) solid var(--color-text);
}


/* ----------------------------- Misc ----------------------------- */
.bi {
    font-size: var(--regular-icon-size);
!important;
    height: auto;
    justify-content: center;
    align-content: center;
}

.loading-spinner {
    width: var(--spinner-size);
    height: var(--spinner-size);
    border-color: var(--color-brand);
    border-bottom-color: transparent;
    border-width: calc(3 * var(--border-width));
}

.scroll-in-view-state {
    box-shadow: var(--box-shadow);
}

/*------ Slide-show ------ */
.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    object-fit: cover;
    transition: all var(--transition-default);
}

.slideshow img.active {
    width: 100%;
    transform: translateX(0%);
}


/* ------- Modern List -----*/
.modern-list {
    list-style: none;
    padding: 0 var(--spacing-large);
    margin-left: var(--spacing-medium);
    border-left: var(--border-width) solid var(--color-brand);
}

.modern-list li {
    list-style: none;
    margin-bottom: var(--spacing-small);
}

/* ------- Loading Overlay -----*/
.loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/* Layout Styling */
.row-layout {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: auto 0;
}

.column-layout {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
}


/* ----------------------------- Tooltip Styling ----------------------------- */

.modern-tooltip {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.modern-tooltip::after {
    content: attr(data-tooltip);
    visibility: hidden;
    opacity: 0;
    width: auto;
    max-width: 369px; /* Max width for the tooltip */
    white-space: nowrap; /* Prevent wrapping to the next line unless it exceeds max-width */
    background-color: var(--color-primary);
    color: var(--color-text);
    text-align: left;
    border-radius: var(--default-radius);
    padding: var(--spacing-medium);
    position: absolute;
    bottom: -139%;
    left: 69%;
    pointer-events: none;
    z-index: var(--z-index-overlay);
    transition: all var(--transition-default);
    border: var(--border-width) solid var(--color-text);
    word-wrap: break-word; /* Wrap to the next line if it exceeds max-width */
}

.modern-tooltip.show::after {
    visibility: visible;
    opacity: 1;
}


/* --------------------------- Primary Button ------------------------------ */

.primary-button {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    width: auto;
    margin: auto;
    padding: 0 var(--spacing-small);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--default-radius);
    border: 0 solid var(--color-primary);
    transition: all var(--transition-default);
    color: var(--color-text);
    border-color: var(--color-primary);
}

.primary-button.left-aligned {
    justify-content: left;
}

.primary-button.text-only {
    padding: var(--spacing-medium);
}

.primary-button .bi {
    font-size: var(--large-icon-size);
}

.primary-button .button-label {
    font-size: var(--regular-text-size);
    line-height: var(--line-height);
    margin-left: var(--spacing-small);
}

.primary-button.with-border {
    border-width: var(--border-width);
}

.primary-button.smaller .bi {
    font-size: var(--regular-icon-size);
}

.primary-button.smaller .button-label {
    font-size: var(--regular-text-size);
}

.primary-button:hover {
    box-shadow: var(--box-shadow);
}

.primary-button.selected {
    color: var(--color-white);
    background-color: var(--color-brand);
}

.primary-button:active {
    transform: scale(var(--active-scale));
}

.primary-button:hover .bi,
.primary-button:hover .button-label {
    cursor: pointer;
    color: var(--color-brand);
!important;
}

/* Phone Override */
@media (max-width: 600px) {
    .primary-button .button-label {
        display: none;
    }
}

/* --------------------  Searchbar  Styling ------------------- */
.search-container {
    display: flex;
    border-radius: var(--default-radius);
    height: auto;
    font-size: var(--regular-text-size);
    align-content: center;
    justify-content: center;
    border: var(--border-width) solid;
    background-color: transparent;
    border-color: var(--color-primary);
    color: var(--color-text);
}

.search-container .bi {
    padding: 0 var(--spacing-medium);
    font-size: var(--large-icon-size);
    cursor: pointer;
}

.search-input {
    padding: var(--spacing-small);
    border: none;
    width: 100%;
    outline: none;
    background-color: transparent;
}

.search-input:focus,
.search-input:active,
.search-input:hover {
    color: var(--color-text);
}

/* Phone Override */
@media (max-width: 600px) {
    .search-input {
        display: none;
    }
    .search-input:focus {
        display: block;
        width: var(--home-control-width);
    }
}


/* --------------------  Dropdown  Styling ------------------- */
.modern-dropdown-list {
    list-style: none;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100px;
    padding: var(--spacing-small);
    margin: var(--spacing-small) 0;
    border-radius: var(--default-radius);
    z-index: var(--z-index-overlay);
    font-size: var(--regular-text-size);
    transform: translateY(-50%);
    transition: all var(--transition-default);
    backdrop-filter: blur(var(--more-blur-radius));
    background-color: var(--color-primary);
    color: var(--color-text);
}

.modern-dropdown-list.hidden {
    display: none;
}

.modern-dropdown-item {
    padding: var(--spacing-medium);
    cursor: pointer;
    border-radius: var(--default-radius);
    height: auto;
    width: auto;
}

.modern-dropdown-item.selected {
    background-color: var(--color-brand); /* Use your primary color here */
    color: var(--color-white);
}

/* Phone Override */
@media (max-width: 600px) {
    .modern-dropdown {
        width: auto;
    }
}

/* --------------------  Modern Input  Styling ------------------- */
.modern-spinbox {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-content: center;
}

.modern-spinbox label {
    font-size: var(--regular-text-size);
    margin: auto 0;
    padding: 0;
}

.modern-spinbox-container {
    display: flex;
    flex-direction: column;
    margin: 0 var(--spacing-small);
    width: 69px;
    height: auto;
}

.modern-spinbox input {
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: var(--default-radius);
    text-align: center;
    width: auto;
    height: auto;
    border: var(--border-width) solid var(--color-primary);
}

.modern-spinbox .modern-spinbox-btn-down,
.modern-spinbox .modern-spinbox-btn-up {
    align-content: center;
    justify-content: center;
}

.modern-spinbox .modern-spinbox-btn-down .bi,
.modern-spinbox .modern-spinbox-btn-up .bi {
    color: var(--color-white);
}


/* --------------------  Progress Area  Styling ------------------- */
.progress-area {
    width: 100%;
    height: auto;
    display: block;
    background-color: transparent;
    border-radius: var(--default-radius);
    padding: 0;
    margin: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: var(--spacing-medium);
    outline: none;
    cursor: pointer;
    color: var(--color-brand);
    padding: 0;
    margin: 0 var(--spacing-small);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--spacing-medium);
    height: var(--spacing-medium);
    background: var(--color-brand);
    cursor: pointer;
}

/* ----------------------- Tags --------------------------- */
.tag-date {
    font-size: var(--regular-text-size);
!important;
    line-height: var(--line-height);
    position: absolute;
    right: var(--spacing-small);
    bottom: var(--spacing-small);
    color: var(--color-text);
    opacity: var(--magic-opacity);
}

.tag-category {
    padding: var(--spacing-tiny);
    margin: var(--spacing-tiny);
    width: fit-content;
    border-radius: var(--small-radius);
    font-size: var(--regular-text-size);
    color: var(--color-text) !important;
    background-color: var(--color-primary);
}

.tag-categories {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-content: flex-start;
    justify-content: left;
    opacity: var(--magic-opacity);
    width: 100%;
    padding: 0;
    margin: 0;
}


/* ----------------------- Grid Layout--------------------------- */

.grid-container {
    display: grid;
    grid-gap: var(--spacing-medium);
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.grid-container.home-page {
    grid-template-columns: repeat(auto-fit, minmax(var(--blog-card-and-header-height), 1fr));
    grid-gap: calc((var(--max-body-width) - 4 * var(--blog-card-and-header-height)) / 3.08);
    width: 100%;
    box-sizing: border-box;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------------------- Blog Cards Styling ----------------------------- */

.blog-listing {
    width: var(--max-body-width);
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.card {
    height: var(--blog-card-and-header-height);
    width: var(--blog-card-and-header-height);
    overflow: clip;
    padding: 0;
    margin: 0;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: var(--default-radius);
}

.card-details {
    display: flex;
    flex-direction: column;
    height: var(--blog-card-and-header-height);
    margin: 0;
    padding: var(--spacing-small) var(--spacing-medium);
    justify-content: flex-start;
    transition: transform var(--transition-default);
    transform: translateY(100%);
}

.card-img {
    margin: 0 auto;
    padding: 0;
    width: var(--blog-card-and-header-height);
    height: var(--blog-card-and-header-height);
    object-fit: cover;
    overflow: clip;
    border-radius: var(--default-radius);
    transition: all var(--transition-default);
}

.card-label {
    font-size: var(--regular-text-size) !important;
    font-weight: var(--bold-weight);
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: var(--spacing-small);
    border: none;
    background-color: var(--color-primary);
    transition: opacity var(--transition-default);
}

.card h3 {
    text-transform: uppercase;
}

.card:hover .card-details {
    transform: translateY(-100%);
    background-color: var(--color-primary);
    backdrop-filter: blur(var(--blur-radius));
}
.card:hover .card-label { opacity: 0; /* Hide the label */}
.card:hover {box-shadow: var(--box-shadow);}
.card:active { transform: scale(var(--active-scale)); }

/* Phone Override */
@media (max-width: 600px) {
    .card-details p {
        display: none;
    }
}

/* -------------------------- App Canvas Styling -------------------------- */
.canvas-like,
canvas {
    position: absolute;
    width: var(--app-window-width);
    height: var(--app-window-height);
    padding: var(--border-width); /* Prevents the border from cutting off the canvas */
    background-color: var(--color-black);
    overflow: clip;
    justify-items: center;
    align-items: center;
    border-radius: var(--default-radius);
    border: var(--border-width) solid var(--color-primary);
}

.full-screen-modal .canvas-like,
.full-screen-modal canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    object-fit: cover;
    border: none;
}


/* -------------------------- App Window Styling -------------------------- */
.app-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: var(--app-window-width);
    height: var(--app-window-height);
    margin: 0 auto;
    background-color: transparent;
    border-radius: var(--default-radius);
}

.app-window.full-screen-modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-window .primary-button,
.app-window p {
    color: var(--color-white); /* Making sure window is always dark */
}

/* -------------------------- App Controller Styling -------------------------- */

.app-controller-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto auto var(--spacing-medium);
    padding: var(--spacing-medium);
    z-index: var(--z-index-overlay);
    background-color: transparent;
}

.app-popup-container,
.app-controller {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    max-width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0 var(--spacing-medium);
    backdrop-filter: blur(var(--more-blur-radius));
    transition: all var(--transition-default);
    color: var(--color-white);
    border-radius: var(--default-radius);
}

.app-controller-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    padding: 0;
    margin: var(--spacing-tiny) 0;
    /* Give enough space for border of buttons */
}

.app-controller-row-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: var(--spacing-medium);
}

.app-controller-row-group:last-child {
    border-right: none;
}

.app-controller-row-item {
    margin-right: var(--spacing-medium);
}

.app-controller-row-item:last-child {
    margin-right: 0;
}

.app-brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: var(--max-content-width);
    margin: 0 auto;
    padding: var(--spacing-medium);
    border: none;
}

.app-brand-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
}

.app-brand-logo .bi {
    font-size: var(--large-icon-size) !important;
    color: var(--color-brand) !important;
    padding: 0;
    margin: 0 auto;
}

.app-brand-logo .app-name {
    color: var(--color-brand) !important;
    padding: 0;
    margin: 0 var(--spacing-small);
    text-transform: uppercase;
    text-align: center;
    align-content: center;
}

.app-brand-container .app-description {
    text-align: center;
    width: auto;
    margin: 0 var(--spacing-small);
    font-size: var(--regular-text-size);
}

.app-popup-container {
    position: absolute;
    width: auto;
    height: auto;
    transform: translateY(-120%);
    background-color: var(--color-primary);
}

/* Phone Override */
@media (max-width: 600px) {
    .app-brand-container .app-description {
        display: none;
    }
}


/* ----------------------------- Project Page Styling ----------------------------- */

.blog-header {
    width: var(--max-content-width);
    height: var(--blog-card-and-header-height);
    padding: 0;
    margin: 0 auto;
    border-radius: var(--default-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: var(--border-width) solid var(--color-primary);
    box-shadow: var(--box-shadow);
}

.blog-header-image {
    width: var(--blog-card-and-header-height);
    height: var(--blog-card-and-header-height);
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.blog-header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    border-radius: var(--default-radius) 0 0 var(--default-radius);
    margin: 0;
}

.blog-header-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: auto;
    max-height: var(--blog-card-and-header-height);
    margin: 0 var(--spacing-large);
}

.blog-main-content {
    margin-top: var(--spacing-very-large);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* ----------------------------- Blog Sidebar Styling ----------------------------- */
.blog-sidebar {
    position: fixed;
    top: var(--spacing-large);
    right: var(--spacing-large);
    padding: var(--spacing-small);
    margin: 0 auto;
    height: auto;
    width: auto;
    max-width: var(--blog-sidebar-max-width);
    border-radius: var(--default-radius);
    backdrop-filter: blur(var(--blur-radius));
    color: var(--color-text);
    background-color: var(--color-primary);
    z-index: var(--z-index-overlay);
}

/* Phone Override */
@media (max-width: 600px) {
    .blog-sidebar {
        display: none;
    }
}



.blog-sidebar-toggle {
    height: 100%;
    width: auto;
    border: none;
    background-color: transparent;
    color: var(--color-text);
}

.blog-sidebar-list {
    font-size: var(--regular-text-size);
    list-style-type: none;
    text-align: left;
    cursor: pointer;
    padding: var(--spacing-small);
    margin: 0;
    border-right: var(--border-width) solid var(--color-primary);
}

.blog-sidebar-list li:last-child {
    margin-bottom: 0;
}

.blog-sidebar-list li {
    margin-bottom: var(--spacing-small);
}

.blog-sidebar-list .nav-link.active {
    color: var(--color-brand);
}

.blog-sidebar.hide-list .blog-sidebar-list {
    display: none;
}


/*-------------------------------- Full Screen Binding ---------------------*/
.full-screen-modal {
    position: fixed;
    z-index: var(--z-index-overlay);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.47); /* Black with transparency */
    backdrop-filter: blur(var(--blur-radius));
    justify-content: center;
    align-items: center;
    border-radius: var(--default-radius);
    transform: translateX(100%);
    transition: all var(--transition-default);
}

.full-screen-modal img {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    max-width: 95%;
    max-height: 95%;
    transition: all var(--transition-default);
}

.full-screen-modal.show {
    display: block;
    transform: translateX(0%);
}

/*-------------------------------- Blog Components ---------------------*/
/* Img Fluid */
img.img-fluid {
    display: block;
    height: auto;
    width: 100%;
    margin: var(--spacing-large) auto;
    border-radius: var(--default-radius);
}

/* Table */
table {
    width: 100%;
    height: auto;
    border: none;
    border-radius: var(--default-radius);
    margin: var(--spacing-large) 0;
    font-size: var(--regular-text-size);
    background-color: var(--color-primary);
    color: var(--color-text);
}

th, td {
    padding: var(--spacing-medium) var(--spacing-medium);
    text-align: left;
}

th {
    background-color: var(--color-brand);
    color: var(--color-white);;
}

/* Code */
code {
    background-color: transparent !important;
    color: var(--color-text);
!important;
}

.code-block {
    position: relative;
    margin-bottom: var(--spacing-medium);
}

.code-copy-button {
    position: absolute;
    top: var(--spacing-medium);
    right: var(--spacing-medium);
    background: transparent !important;
    color: var(--color-primary) !important;
    border: none;
    cursor: pointer;
}

pre code.hljs {
    background-color: transparent !important;
    color: var(--color-text);
    border-radius: var(--default-radius);
    border: var(--border-width) solid var(--color-primary);
}

/* Plot */
.plot {
    width: auto;
    height: auto;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: left;
    align-content: flex-start;
    border-radius: var(--default-radius);
    transition: all var(--transition-default);
}








