:root {
    /* Color Palette */
    --color-light-primary: rgb(255, 255, 255);
    --color-light-contrast: rgba(193, 193, 193, 0.47);
    --color-light-imp: rgb(47, 47, 47);

    --color-dark-primary: rgb(0, 0, 0);
    --color-dark-contrast: rgba(47, 47, 47, 0.47);
    --color-dark-imp: rgb(193, 193, 193);

    --color-brand-primary: rgb(22, 64, 120);
    --color-passive-element: rgba(128, 128, 128, 0.69);

    /* Spacing */
    --spacing-small: 5px;
    --spacing-medium: 10px;
    --spacing-large: 20px;
    --spacing-huge: 40px;

    /* Transition */
    --transition-default: 0.4s;
    --transition-short: 0.05s;

    /* Size */
    --max-body-width: 1200px;
    --max-content-width: 690px;
    --max-image-width: 650px; /* Smaller than content width */
    --default-radius: 6px;
    --small-radius: 3px;

    /* Font */
    --font-family: 'Helvetica';
    --regular-weight: 420;
    --bold-weight: 690;
    --line-height: 1.25;

    --small-text-size: 10px;
    --normal-text-size: 16px;
    --title-font-size: 25px;
    --super-title-font-size: 41px;

    --icon-size: 18px;

    --border-width: 1px;
    --z-index-overlay: 1000;

    /* Spinner */
    --spinner-size: 69px;
    --spinner-border-width: 5px;

    /* Shadow */
    --shadows-light: 0 1px 3px rgba(0, 0, 0, 0.18);
    --shadows-dark: 0 1px 3px rgba(255, 255, 255, 0.18);

    /* specific sizes */
    --navbar-height: 47px;
    --body-top-padding: 67px; /* navbar height + spacing-large */

    /* Project specific */
    --project-card-height: 232px; /* Width of the project card should be less than content width /4  */
    --project-card-height-collapse: calc(0.47 * var(--project-card-height));
    --project-banner-height: 250px;
    --project-side-bar-top: 57px; /* navbar height + spacing-medium */
    --project-control-bar-height: 40px;
    --project-searchbar-width: 250px;
    --project-dropdown-width: 180px;
    --project-footer-width: 250px;

    /* Custom */
    --about-entity-height: 320px;
    --transform-scale: 1.069;
    --blur-radius: 20px;

    /* Github contributions */
    --color-calendar-graph-day-bg: #3d3d3d;
    --color-calendar-graph-day-L1-bg: #618bf3;
    --color-calendar-graph-day-L2-bg: #487cfd;
    --color-calendar-graph-day-L3-bg: #3d65c4;
    --color-calendar-graph-day-L4-bg: var(--color-brand-primary);

    /* App Button */
    --app-button-size: 80px;
    --app-window-width: 1200px;
    --app-window-height: 750px;
    --app-title-width-perc: 12%;
}

/* ----------------------------- General Styling ----------------------------- */
body {
    font-family: var(--font-family), serif;
    margin: 0;
    padding: var(--body-top-padding) 0 var(--spacing-small) !important;
    letter-spacing: var(--border-width);
    transition: all var(--transition-default);
    font-size: var(--normal-text-size);
}

.quarto-about-jolla,
.content {
    margin: 0 auto;
    text-align: left;
    width: var(--max-body-width);
    line-height: var(--line-height);
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--default-radius);
    transition: all var(--transition-default);
}

.block {
    text-align: left;
    max-width: var(--max-content-width);
    padding: var(--spacing-large);
    line-height: var(--line-height);
    border-radius: var(--default-radius);
    margin: var(--spacing-large);
    transition: all var(--transition-default);
}

h1 {
    font-size: var(--super-title-font-size);
    line-height: var(--line-height);
    font-weight: var(--bold-weight);
    text-align: left;
    border: none;
    transition: all var(--transition-short);
}

h2 {
    font-size: var(--title-font-size);
    line-height: var(--line-height);
    font-weight: var(--bold-weight);
    text-align: left;
    transition: all var(--transition-short);
}


p {
    line-height: var(--line-height);
    font-weight: var(--regular-weight);
    margin-bottom: var(--spacing-small);
    transition: all var(--transition-short);
}

.toggle-expand-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.toggle-expand-button {
    font-size: var(--title-font-size);
    border: none;
    cursor: pointer;
    padding: var(--spacing-small);
    margin: 0;
    background-color: transparent;
    transition: all var(--transition-default);
}

.toggle-expand-button:hover .bi {
    color: var(--color-brand-primary);
}

/* ----------------------------- Navbar Styling ----------------------------- */
.navbar-title,
.navbar-nav .nav-link,
.navbar-nav .nav-item {
    margin: 0 auto;
!important;
    padding: 0;
!important;
    cursor: pointer;
}

.navbar-nav .nav-link.hover {
    color: var(--color-brand-primary);
!important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-item.active {
    color: var(--color-brand-primary);
!important;
}

.icon-large {
    font-size: var(--icon-size);
}

.nav-label {
    margin: 0 auto;
    font-size: var(--normal-text-size);
    color: inherit;
}

.navbar-title {
    pointer-events: none;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-item:hover {
    color: var(--color-brand-primary);
}

.navbar-brand .navbar-logo {
    filter: brightness(0) invert(1);
}

.navbar {
    left: 0;
    top: 0;
    background-color: var(--color-dark-contrast);
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    color: var(--color-dark-imp);
    font-size: var(--normal-text-size);
    backdrop-filter: blur(var(--blur-radius));
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
!important;
    padding: 0 !important;
    margin: 0 auto !important;
}


.navbar-collapse {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand-container {
    position: absolute;
    left: 50%; /* Center the brand */
    transform: translateX(-50%);
}

.navbar-nav.me-auto {
    margin-right: auto;
}


/* ------------------------------ Content Placeholder Styling ------------------------------ */
.about-links,
#content-placeholder-overlay,
#quarto-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}


#content-placeholder-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.spinner-border {
    color: var(--color-brand-primary);
    width: var(--spinner-size);
    height: var(--spinner-size);
    border-width: var(--spinner-border-width);
}


/** ------------------------  About me ------------------------ */
.about-container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.about-entity {
    display: flex;
    width: var(--max-body-width);
    height: auto;
    margin: 0 auto;
    border-radius: var(--default-radius);
    border-style: solid;
    border-width: var(--border-width);
    transition: all var(--transition-default);
}

.profile-image img {
    padding: 0;
    margin: 0 auto;
    width: var(--about-entity-height);
    height: var(--about-entity-height);
    border-bottom-left-radius: var(--default-radius);
    border-top-left-radius: var(--default-radius);
    object-fit: cover; /* Ensure image covers the container */
    display: block; /* Remove extra space below the image */
    transition: all var(--transition-default);
}


.about-text {
    max-height: var(--about-entity-height);
    padding: var(--spacing-medium);
    margin-left: var(--spacing-large);
    flex-grow: 1; /* Allow text to fill remaining space */
}

.collapsible-content {
    height: 0;
    width: var(--max-body-width);
    opacity: 0;
    overflow: hidden;
    margin: 0 auto;
    transition: all var(--transition-default);
}

.collapsible-content.expanded {
    height: auto;
    opacity: 1;
    padding: var(--spacing-large);
}

.calendar {
    font-size: var(--small-text-size);
    font-family: var(--font-family), serif;
    justify-content: center;
    align-items: center;
    width: var(--max-image-width);
    height: auto;
    background-color: transparent;
!important;
    color: var(--color-dark-imp);
    border-radius: var(--default-radius);
!important;
    border: none;
!important;
    transition: all var(--transition-default);
}

.calendar .table-column {
    border: none;
!important;
}

.calendar .contrib-column {
    border: none;
}

.day-tooltip {
    display: none;
}

/* ----------------------- Project Cards --------------------------- */
.quarto-listing {
    width: var(--max-body-width);
    justify-content: center;
    align-self: center;
    text-align: left;
    padding: var(--spacing-large);
    display: flex;
    margin: 0 auto;
    flex-direction: column;

}

.card {
    width: auto;
    height: var(--project-card-height-collapse);
    background-color: var(--color-light-contrast);
    border: var(--border-width) solid var(--color-light-contrast);
    border-radius: var(--default-radius);
    flex-direction: row;
    transition: all var(--transition-default) ease;
}

.card-body {
    padding: var(--spacing-large);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: var(--normal-text-size);
    line-height: var(--line-height);
    font-weight: var(--bold-weight);
}

.card-text {
    font-weight: var(--regular-weight);
    font-size: var(--small-text-size);
    line-height: var(--line-height);
    margin: var(--spacing-small) 0 var(--spacing-medium) 0;
    opacity: 0;
    height: 0;
    transition: all var(--transition-short) ease-in-out;
}

.card-img {
    margin: 0 auto;
    width: var(--project-card-height-collapse);
    height: 100%;
    object-fit: cover;
    overflow: clip;
    display: flex;
    align-content: flex-end;
    border-top-left-radius: var(--default-radius);
    border-bottom-left-radius: var(--default-radius);
    transition: all var(--transition-default);
}

.listing-categories {
    max-width: 90%;
    opacity: 0;
    height: 0;
}


/* Listing category NOTE: important is needed to override the default bootstrap styling */
.listing-category,
.quarto-category {
    border: var(--border-width) solid var(--color-brand-primary) !important;
    margin-right: var(--spacing-small) !important;
    margin-top: var(--spacing-small) !important;
    padding: var(--spacing-small) !important;
    width: fit-content;
    border-radius: var(--small-radius);
!important;
    transition: all var(--transition-short) ease-in-out;
}

.card:hover {
    height: var(--project-card-height);
}

.card:hover .card-text {
    height: auto;
    opacity: 1;
}

.card:hover .listing-categories {
    height: auto;
    opacity: 0.69;
}

.card:hover .card-img {
    width: 0;
}

.card:hover .card-title {
    font-size: 21px; /* Card title font size */
}

/* --------------- Control Bar Styling --------------- */
#controls-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-large);
    max-width: var(--max-body-width);
    border: none;
}

.control-selector-container {
    display: flex;
    padding-right: var(--spacing-large);
    width: var(--project-dropdown-width);
    height: var(--project-control-bar-height);
}

.control-selector-icon {
    padding: 0;
    margin: 0 auto;
    width: var(--project-control-bar-height);
    height: var(--project-control-bar-height);
    border-radius: var(--default-radius) 0 0 var(--default-radius);
    align-items: center;
    justify-content: center;
    border: none;
    display: flex;
}

.control-selector-icon i {
    font-size: var(--icon-size);
}

.control-selector {
    width: 100%;
    padding-left: var(--spacing-small);
    cursor: pointer;
    outline: none;
    appearance: none; /* Remove gradient */
    text-align: center;
    border: none !important;
    border-radius: 0 var(--default-radius) var(--default-radius) 0;
}

.control-selector:focus,
.control-selector:active,
.control-selector:hover {
    border-color: var(--color-brand-primary);
    background-color: var(--color-brand-primary);
}

#search-container {
    display: flex;
}

.search-icon {
    padding: 0;
    margin: 0 auto;
    width: var(--project-control-bar-height);
    height: var(--project-control-bar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-style: solid;
    border-radius: var(--default-radius) 0 0 var(--default-radius);
    border-width: var(--border-width) 0 var(--border-width) var(--border-width);
}

.search-icon i {
    font-size: var(--icon-size);
}

#search-input {
    padding: var(--spacing-small);
    height: var(--project-control-bar-height);
    border-style: solid;
    border-width: var(--border-width) var(--border-width) var(--border-width) 0;
    border-radius: 0 var(--default-radius) var(--default-radius) 0;
    width: var(--project-searchbar-width);
    outline: none;
}

#search-input:focus,
#search-input:active,
#search-input:hover {
    border-color: var(--color-brand-primary);
    background-color: var(--color-brand-primary);
}

/* ----------------------------- Project Page Styling ----------------------------- */

#title-block-header .quarto-title-banner {
    width: var(--max-content-width);
    height: var(--project-banner-height);
    border-radius: var(--default-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
!important;
    box-sizing: border-box;
}

.quarto-title-block {
    width: var(--max-content-width);
!important;
    margin: 0 auto;
!important;
    padding: 0;
!important;
    height: var(--project-banner-height);
!important;
}

/* -------------------------------- Project Page Styling --------------------------------  */
.quarto-title-banner-image {
    max-width: var(--max-image-width);
    flex-shrink: 0; /* Prevent the image from shrinking */
    margin-right: var(--spacing-large);
}

.img-cover {
    width: var(--project-banner-height);
    height: var(--project-banner-height);
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    border-bottom-left-radius: var(--default-radius);
    border-top-left-radius: var(--default-radius);
    margin: 0;
}

/* Ensure the text part takes remaining width */
.column-body {
    flex-grow: 1; /* Make sure text takes up available space */
}

.project-type {
    font-size: var(--small-text-size);
    line-height: var(--line-height);
    text-transform: uppercase;
    position: absolute;
    right: var(--spacing-small);
    top: var(--spacing-small);
    border-radius: var(--small-radius);
    padding: var(--spacing-small);
    background-color: var(--color-brand-primary);
    color: var(--color-light-primary);
}


.project-date {
    font-size: var(--small-text-size);
    line-height: var(--line-height);
    text-transform: uppercase;
    color: var(--color-passive-element);
    position: absolute;
    right: var(--spacing-small);
    bottom: var(--spacing-small);
}

.description {
    font-size: var(--normal-text-size);
    line-height: var(--line-height);
    margin: 0 auto;
}

/* Project footer */
#quarto-footer {
    position: fixed;
    bottom: var(--spacing-large);
    right: var(--spacing-large);
    padding: var(--spacing-small);
    margin: 0 auto;
    height: auto;
    width: var(--project-footer-width);
    border-radius: var(--default-radius);
    font-size: var(--normal-text-size);
    backdrop-filter: blur(var(--blur-radius));
}

.footer-title {
    font-weight: var(--bold-weight);
    text-align: left;
    margin: 0 auto;
}

#footer-toggle {
    border: none;
    background-color: transparent;
}

.footer-toc {
    padding: var(--spacing-small);
    text-align: left;
    margin: 0 auto;
    list-style-type: none;
}

.footer-toc li {
    padding-left: var(--spacing-huge);
    text-align: left;
    border: none;
    margin: 0 auto;
}

.footer-hidden {
    max-height: 40px;
    right: var(--spacing-large);
    bottom: 0;
    position: fixed;
}

.footer-toc li p, .footer-toc li a {
    font-size: var(--normal-text-size);
    text-decoration: none;
    transition: all var(--transition-short);
    opacity: 1;
}

.footer-hidden li p, .footer-hidden li a {
    opacity: 0;
}

.footer-toc .nav-link {
    text-decoration: none;
    border: none;
    transition: all var(--transition-default);
}

.footer-toc .nav-link.active {
    color: var(--color-brand-primary);
    text-decoration: underline;
}

/* -------------------------------- Project content --------------------------------  */
#quarto-document-content {
    max-width: var(--max-content-width);
    padding: var(--spacing-medium);
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 20px; /* Adjust the padding as needed */
    padding-right: 20px; /* Adjust the padding as needed */
    font-size: var(--normal-text-size);
    line-height: var(--line-height);
}

/* Code block styling */
code {
    color: var(--color-brand-primary);
    padding: 0;
    border: none;
    border-radius: var(--default-radius);
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--normal-text-size);
}

.sourceCode .pre {
    background-color: transparent;
    border: none;
    padding: var(--spacing-medium);
    white-space: pre-wrap;
    overflow-x: auto;
}

.sourceCode .keyword {
    color: var(--color-brand-primary);
    font-weight: var(--bold-weight);
}

.sourceCode .string {
    color: #000000; /* Color for strings */
}

.sourceCode .comment {
    color: #6a737d; /* Color for comments */
    font-style: italic; /* Italicize comments */
}

.sourceCode .number {
    color: #0075f8; /* Color for numbers */
}

.sourceCode .function {
    color: #0075f8; /* Color for function names */
}

.code-copy-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 12px 0;
    cursor: pointer;
    border-radius: var(--border-width);
    position: absolute;
    right: var(--spacing-medium);
    top: var(--spacing-medium);
}

/* Project Images */
img.img-fluid {
    width: calc(var(--max-image-width) * 0.8);
    height: auto;
    display: block;
    margin: var(--spacing-medium) auto;
    border-radius: var(--default-radius);
    padding: var(--spacing-large);
}

/* Full-screen overlay styling */
#fullScreenModal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: var(--z-index-overlay);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.47); /* Black with transparency */
    backdrop-filter: blur(var(--blur-radius));
    justify-content: center;
    align-items: center;
    border-radius: var(--default-radius);
}

#fullScreenModal img {
    max-width: 90%;
    max-height: 90%;
}

/* Table styling */
table {
    width: 100%;
    border: none;
    border-radius: var(--default-radius);
    margin: var(--spacing-large) 0;
    font-size: var(--normal-text-size);
}

th, td {
    padding: var(--spacing-medium) var(--spacing-medium);
    text-align: left;
}

th {
    background-color: var(--color-brand-primary);
    color: white;
}

.plot {
    border-radius: var(--default-radius);
    margin: var(--spacing-large) auto;
    width: 500px;
!important; /* Confirm with layout of plot */
    height: 400px;
!important; /* Confirm with layout of plot */
    transition: all var(--transition-default);
}

/* -------------------------- App Styling -------------------------- */

.app-drawer {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: var(--spacing-large);
    height: calc(var(--app-button-size) + 2 * var(--spacing-large));
    margin: 0 auto;
    width: var(--max-body-width);
    border-style: solid;
    background-color: transparent;
    border-width: var(--border-width);
}

.app-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: var(--app-button-size);
    width: var(--app-button-size);
    font-size: var(--normal-text-size);
    padding: var(--spacing-medium);
    color: white;
    background-color: var(--color-brand-primary);
    border-radius: var(--default-radius);
    border: none;
    transition: all var(--transition-default);
    box-shadow: none;
}

.app-button:hover {
    transform: scale(var(--transform-scale));
}

.app-button .bi {
    font-size: var(--title-font-size);
}


.app-button .bi:active {
    transform: scale(1/var(--transform-scale));
}

.app-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    width: var(--app-window-width);
    height: var(--app-window-height);
    background-color: transparent;
    border-radius: var(--default-radius);
    border-width: var(--border-width);
    border-style: solid;
}

.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: transparent;
    border-radius: var(--default-radius);
    border-width: var(--border-width);
    border-style: solid;
    height: auto;
    width: var(--max-content-width);
    z-index: var(--z-index-overlay);
    padding: var(--spacing-small);
    margin: 0 auto;
    backdrop-filter: blur(var(--blur-radius));
    transition: all var(--transition-default);
}

.icon-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-small);
    width: var(--app-title-width-perc);
}

.icon-text-container .bi {
    font-size: var(--super-title-font-size);
    color: var(--color-brand-primary);
    padding: 0;
    margin: 0;
}

#appName {
    font-size: var(--normal-text-size);
    font-weight: var(--bold-weight);
    color: var(--color-brand-primary);
}

.light-mode .app-window {
    border-color: var(--color-light-contrast);
}

.dark-mode .app-window {
    border-color: var(--color-dark-contrast);
}

.app-header.hidden {
    height: 0;  /* Collapsed state */
}


/* --------------------  App Controls  Styling ------------------- */
.primary-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all var(--transition-default);
    height: 100%;
}

.primary-button .bi {
    font-size: var(--title-font-size);
}

.primary-button:hover .bi {
    color: var(--color-brand-primary); !important;
}

.primary-button:active .bi {
    transform: scale(calc(1 / var(--transform-scale)));
}

.progress-area {
    width: 100%;
    display: block;
    background-color: transparent;
    border-radius: var(--default-radius);
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: var(--spacing-medium);
    border-radius: var(--default-radius);
    outline: none;
    cursor: pointer;
}


/* -------------------------- Music App Styling -------------------------- */
canvas {
    position: absolute;
    width: var(--app-window-width);
    height: var(--app-window-height);
    z-index: 1;
    border-radius: var(--default-radius);
    background-color: transparent;
    justify-items: center;
    align-items: center;
    padding: var(--spacing-medium);
}

.music-hud {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--app-title-width-perc));
    height: auto;
    padding-left: var(--spacing-huge);
    padding-right: var(--spacing-medium);
}

#titleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--normal-text-size);
    line-height: var(--line-height);
}

.music-controls {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* -------------------------- Light Mode -------------------------- */

body.light-mode {
    background-color: var(--color-light-primary);
    color: var(--color-light-imp);
}

.light-mode .navbar-title,
.light-mode .nav-item,
.light-mode .nav-link,
.light-mode .btn-icon {
    color: var(--color-light-imp);
}

.light-mode .content {
    background-color: var(--color-light-primary);
    border-color: var(--color-light-contrast);
    box-shadow: var(--shadows-light);
}

.light-mode .block {
    background-color: var(--color-light-contrast);
    color: var(--color-light-imp);
}

.light-mode h1, .light-mode h2 {
    color: var(--color-light-imp);
}

.light-mode p {
    color: var(--color-light-imp);
}

.light-mode .about-entity {
    border-color: var(--color-light-contrast);
    background-color: var(--color-light-primary);
    color: var(--color-light-imp);
    box-shadow: var(--shadows-light);
}


.light-mode .card {
    background-color: var(--color-light-contrast);
    border-color: var(--color-light-contrast);
}

.light-mode .card:hover {
    box-shadow: var(--shadows-light);
}

.light-mode .card-title {
    color: var(--color-light-imp);
}

.light-mode .card-text {
    color: var(--color-light-imp);
}

.light-mode .quarto-title-banner {
    color: var(--color-light-imp);
    background-color: var(--color-light-contrast);
    box-shadow: var(--shadows-light);
}

.light-mode code.sourceCode {
    background-color: var(--color-light-contrast);
}

.light-mode code.sourceCode:hover {
    box-shadow: var(--shadows-light);
}

.light-mode code.inline {
    background-color: transparent;
}

.light-mode #quarto-footer {
    background-color: var(--color-light-contrast);
    color: var(--color-light-imp);
    box-shadow: var(--shadows-light);
}

.light-mode .footer-toc li p, .footer-toc li a {
    color: var(--color-light-imp);
!important;
}

.light-mode .control-selector-icon {
    border-color: var(--color-light-contrast);
    color: var(--color-light-imp);
    background-color: var(--color-light-contrast);
}

.light-mode .search-icon {
    border-color: var(--color-light-contrast);
    color: var(--color-light-imp);
}

.light-mode .control-selector {
    border-color: var(--color-light-contrast);
    color: var(--color-light-imp);
    background-color: var(--color-light-contrast);
}

.light-mode #search-input {
    border-color: var(--color-light-contrast);
    color: var(--color-light-imp);
    background-color: var(--color-light-primary);
}

.light-mode .listing-category,
.light-mode .quarto-category {
    border-color: var(--color-light-imp) !important;
    color: var(--color-light-imp) !important;
}

.light-mode tr:hover {
    background-color: var(--color-light-contrast);
}

.light-mode .plot:hover {
    box-shadow: var(--shadows-light);
}

.light-mode .plot {
    background-color: var(--color-light-contrast);
!important;
}


.light-mode .toggle-expand-button {
    color: var(--color-light-imp);
}

.light-mode .app-drawer {
    border-color: var(--color-light-contrast);
}

.light-mode .app-header {
    border-color: var(--color-light-contrast);
    background-color: var(--color-light-contrast);
    color: var(--color-light-imp);
}

.light-mode .primary-button {
    color: var(--color-light-imp);
}

.light-mode input[type="range"] {
    background: var(--color-light-contrast);
}


/* -------------------------- Dark Mode -------------------------- */
body.dark-mode {
    background-color: var(--color-dark-primary);
    color: var(--color-dark-imp);
}

.dark-mode .navbar-title,
.dark-mode .nav-item,
.dark-mode .nav-link,
.dark-mode .btn-icon {
    color: var(--color-dark-imp);
!important;
}

.dark-mode .content {
    background-color: var(--color-dark-primary);
    border-color: var(--color-dark-contrast);
    box-shadow: var(--shadows-dark)
}

.dark-mode .block {
    background-color: var(--color-dark-contrast);
    color: var(--color-dark-imp);
}

.dark-mode h1, .dark-mode h2 {
    color: var(--color-dark-imp);
}

.dark-mode p {
    color: var(--color-dark-imp);
}


.dark-mode .about-entity {
    border-color: var(--color-dark-contrast);
    background-color: var(--color-dark-primary);
    color: var(--color-dark-imp);
    box-shadow: var(--shadows-dark);
}


.dark-mode .card {
    background-color: var(--color-dark-contrast);
    border-color: var(--color-dark-contrast);
}

.dark-mode .card:hover {
    box-shadow: var(--shadows-dark);
}

.dark-mode .card-title {
    color: var(--color-dark-imp);
}

.dark-mode .card-text {
    color: var(--color-dark-imp);
}

.dark-mode .quarto-title-banner {
    background-color: var(--color-dark-contrast);
    color: var(--color-dark-imp);
}

.dark-mode code.sourceCode {
    background-color: var(--color-dark-contrast);
}

.dark-mode code.sourceCode:hover {
    box-shadow: var(--shadows-dark);
}

.dark-mode code.inline {
    background-color: transparent;
}

.dark-mode #quarto-footer {
    background-color: var(--color-dark-contrast);
    color: var(--color-dark-imp);
    box-shadow: var(--shadows-dark);
}

.dark-mode .footer-icon {
    color: var(--color-dark-imp);
}

.dark-mode .footer-toc li p, .footer-toc li a {
    color: var(--color-dark-imp);
!important;
}

.dark-mode .control-selector-icon {
    border-color: var(--color-dark-contrast);
    color: var(--color-dark-imp);
    background-color: var(--color-dark-contrast);
}

.dark-mode .search-icon {
    border-color: var(--color-dark-contrast);
    color: var(--color-dark-imp);
}

.dark-mode .control-selector {
    border-color: var(--color-dark-contrast);
    color: var(--color-dark-imp);
    background-color: var(--color-dark-contrast);
}

.dark-mode #search-input {
    border-color: var(--color-dark-contrast);
    color: var(--color-dark-imp);
    background-color: var(--color-dark-primary);
}


.dark-mode .listing-category,
.dark-mode .quarto-category {
    border-color: var(--color-dark-imp) !important;
    color: var(--color-dark-imp) !important;
}

.dark-mode tr:hover {
    background-color: var(--color-dark-contrast);
}

.dark-mode .plot:hover {
    box-shadow: var(--shadows-dark);
}

.dark-mode .plot {
    background-color: var(--color-dark-contrast);
!important;
}

.dark-mode .toggle-expand-button {
    color: var(--color-dark-imp);
}


.dark-mode .app-drawer {
    border-color: var(--color-dark-contrast);
}

.dark-mode .app-header {
    border-color: var(--color-dark-contrast);
    background-color: var(--color-dark-contrast);
    color: var(--color-dark-imp);
}


.dark-mode .primary-button {
    color: var(--color-dark-imp);
}


.dark-mode input[type="range"] {
    background: var(--color-dark-contrast);
}
