:root {
	/* Color Palette */
	--color-light-primary: rgb(221, 221, 221);
	--color-light-contrast: rgba(169, 169, 169, 0.69);
	--color-light-imp: rgb(47, 47, 47);

	--color-dark-primary: rgb(7, 7, 7);
	--color-dark-contrast: rgba(47, 47, 47, 0.69);
	--color-dark-imp: rgb(169, 169, 169);

	--color-brand-primary: rgb(220, 20, 60, 0.73); /*#DC143C - Crimson, my boos fav*/
    /* NOTE: If you change the primary color, make sure to update the calendar graph colors and logo.svg as well */

	--color-passive-element: rgba(128, 128, 128, 0.47);


	/* Spacing */
	--spacing-small: 6px;
	--spacing-medium: 12px;
	--spacing-large: 24px;
	--spacing-huge: 48px;

	/* Transition */
	--transition-default: 0.27s;
	--transition-short: 0.05s;

	/* Size */
	--max-body-width: 1200px;
	--max-content-width: 690px;
	--max-image-width: 650px; /* Smaller than content width */
	--default-radius: 6px;
	--small-radius: 3px;

	/* Font */
	--font-family: 'Helvetica';
	--regular-weight: 420;
	--bold-weight: 690;
	--line-height: 1.25;

	--subtitle-text-size: 12px;
	--regular-text-size: 16px;
	--title-font-size: 25px;
	--super-title-font-size: 41px;

	--regular-icon-size: 21px;
	--large-icon-size: 37px;

	--border-width: 2px;
	--z-index-overlay: 1000;
	--z-index-max: 2000;

	/* Spinner */
	--spinner-size: 69px;
	--spinner-border-width: 5px;

	/* Shadow */
	--shadows-light: 0 2px 7px rgba(0, 0, 0, 0.18);
	--shadows-dark: 0 2px 7px rgba(255, 255, 255, 0.18);

	/* specific sizes */
	--navbar-height: 47px;

	/* Project specific */
	--project-card-height: 300px; /* Width of the project card should be less than content width /4  */
	--project-side-bar-top: 57px; /* navbar height + spacing-medium */
	--project-searchbar-width: 250px;
	--project-footer-width: 250px;

	/* Custom */
	--about-entity-height: 250px;
	--transform-scale: 1.169;
	--active-scale: calc(1/var(--transform-scale));

	--blur-radius: 9px;
	--more-blur-radius: 21px;

	/* Github contributions */
	--color-calendar-graph-day-bg: #3d3d3d;
	--color-calendar-graph-day-L1-bg: #8992a8;
	--color-calendar-graph-day-L2-bg: #67d827;
	--color-calendar-graph-day-L3-bg: #8da0cb;
	--color-calendar-graph-day-L4-bg: var(--color-brand-primary);

	/* App */
	--app-button-height: 69px;
	--app-window-width: var(--max-body-width);
	--app-window-height: calc(3 * var(--app-window-width) / 4);
}

/* ----------------------------- Body Styling ----------------------------- */
body {
	font-family: var(--font-family), serif;
	margin: 0;
	padding: var(--spacing-large) !important;
	letter-spacing: var(--border-width);
	transition: all var(--transition-default);
	font-size: var(--regular-text-size);
	justify-content: center;
	align-content: center;
}

body.light-mode {
	background-color: var(--color-light-primary);
	color: var(--color-light-imp);
}

body.dark-mode {
	background-color: var(--color-dark-primary);
	color: var(--color-dark-imp);
}


/* ----------------------------- Content Styling ----------------------------- */
.content {
	margin: 0 auto;
	text-align: left;
	width: var(--max-body-width);
	border-style: solid;
	border-width: var(--border-width);
	border-radius: var(--default-radius);
	transition: all var(--transition-default);
}

.light-mode .content {
	background-color: var(--color-light-primary);
	border-color: var(--color-light-contrast);
	box-shadow: var(--shadows-light);
}
.dark-mode .content {
	background-color: var(--color-dark-primary);
	border-color: var(--color-dark-contrast);
	box-shadow: var(--shadows-dark)
}

.content.reading {
	font-size: var(--regular-text-size);
	width: var(--max-content-width);
	line-height: var(--line-height);
}

.block {
	text-align: left;
	max-width: var(--max-content-width);
	padding: var(--spacing-large);
	line-height: var(--line-height);
	border-radius: var(--default-radius);
	margin: var(--spacing-large);
	transition: all var(--transition-default);
}

.light-mode .block {
	background-color: var(--color-light-contrast);
	color: var(--color-light-imp);
}

.dark-mode .block {
	background-color: var(--color-dark-contrast);
	color: var(--color-dark-imp);
}

.content.collapsible {
	height: 0;
	width: var(--max-body-width);
	opacity: 0;
	overflow: hidden;
	margin: 0 auto;
	transition: all var(--transition-default);
}
.content.collapsible.expanded {
	height: auto;
	opacity: 1;
	padding: var(--spacing-large);
}

/* ----------------------------- Text Styling ----------------------------- */

h1 {
	font-size: var(--super-title-font-size);
	line-height: var(--line-height);
	font-weight: var(--bold-weight);
	text-align: left;
	border: none;
	transition: all var(--transition-short);
}

h2 {
	font-size: var(--title-font-size);
	line-height: var(--line-height);
	font-weight: var(--bold-weight);
	text-align: left;
	transition: all var(--transition-short);
}


p {
	line-height: var(--line-height);
	font-weight: var(--regular-weight);
	margin-bottom: var(--spacing-small);
	transition: all var(--transition-short);
}

.light-mode h1, .light-mode h2, .light-mode p {
	color: var(--color-light-imp);
}

.dark-mode h1, .dark-mode h2, .dark-mode p {
	color: var(--color-dark-imp);
}

/* ----------------------------- Bootstrap Icon Styling ----------------------------- */
.bi {
	font-size: var(--regular-icon-size);
}

/*.light-mode .bi {*/
/*	color: var(--color-light-imp);*/
/*}*/

/*.dark-mode .bi {*/
/*	color: var(--color-dark-imp);*/
/*}*/

/*!*.bi.active, .bi.hover {*!*/
/*!*	color: var(--color-brand-primary);*!*/
/*!*}*!*/



/* ------------------------------ Content Placeholder Styling ------------------------------ */
#content-placeholder-overlay,
#quarto-content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
}


#content-placeholder-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

/* --------------- Layout Styling --------------- */
.row-layout {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.column-layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 100%;
	padding: 0;
	margin: 0;
}

.horizontal-separator {
	border: 1px solid;
	align-content: center;
	justify-content: center;
	margin: var(--spacing-huge) auto;
	display: block;
	width: 21%;
}

.light-mode .horizontal-separator {
	border-color: var(--color-light-contrast);
}

.dark-mode .horizontal-separator {
	border-color: var(--color-dark-contrast);
}


/* --------------------------- Primary Button ------------------------------ */

.primary-button {
	background-color: transparent;
	cursor: pointer;
	height: 100%;
	width: 100%;
	padding: 0 var(--spacing-small);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--default-radius);
	border-style: solid;
	border-width: 0;
	transition: all var(--transition-default);
}

.primary-button .bi {
	font-size: var(--large-icon-size);
}

.primary-button .button-label {
	font-size: var(--regular-text-size);
	line-height: var(--line-height);
	margin-left: var(--spacing-small);
}

.primary-button:active {
	transform: scale(var(--active-scale));
}

.primary-button:hover .bi,
.primary-button:hover .button-label {
	cursor: pointer;
	color: var(--color-brand-primary); !important;
}

.primary-button.with-border {
	border-width: var(--border-width);
}

.primary-button.smaller .bi {
	font-size: var(--regular-icon-size);
}

.primary-button.smaller .button-label {
	font-size: var(--regular-text-size);
}


.light-mode .primary-button {
	color: var(--color-light-imp);
	border-color: var(--color-light-contrast);
}

.dark-mode .primary-button {
	color: var(--color-dark-imp);
	border-color: var(--color-dark-contrast);
}

/* --------------------  Searchbar  Styling ------------------- */
.search-container {
	display: flex;
	border-radius: var(--default-radius);
	height: auto;
	font-size: var(--regular-text-size);
	align-content: center;
	justify-content: center;
}

.search-container i {
	padding: 0 var(--spacing-medium);
	font-size: var(--large-icon-size);
}

.search-input {
	padding: var(--spacing-small);
	border: none;
	width: 100%;
	outline: none;
	background-color: transparent;
}


/* --------------------  Dropdown  Styling ------------------- */
.custom-dropdown {
	list-style: none;
	position: absolute;
	padding: 0;
	margin: var(--spacing-small) 0;
	border-radius: var(--default-radius);
	width: auto;
	backdrop-filter: blur(var(--more-blur-radius));
	z-index: var(--z-index-overlay);
	font-size: var(--subtitle-text-size);
	line-height: var(--line-height);
	transition: all var(--transition-default);
}

.custom-dropdown.hidden {
	display: none;
}

.dropdown-item {
	padding: var(--spacing-medium);
	cursor: pointer;
	transition: all var(--transition-default);
	border-radius: var(--default-radius);
}

.dropdown-item.selected {
	background-color: var(--color-brand-primary); /* Use your primary color here */
	color: var(--color-dark-imp);
}

/* --------------------  Progress Area  Styling ------------------- */
.progress-area {
	width: 100%;
	display: block;
	background-color: transparent;
	border-radius: var(--default-radius);
	padding: 0;
	margin: 0;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: var(--spacing-medium);
	outline: none;
	cursor: pointer;
	color: var(--color-brand-primary);
	border-radius: var(--default-radius);
	padding: 0;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--spacing-medium);
	height: var(--spacing-medium);
	transform: scale(1.3);
	background: var(--color-brand-primary);
	border-radius: var(--default-radius);
	cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-thumb {
	transform: scale(1.8);
}

/* ----------------------- Project Components --------------------------- */
.project-type {
	font-size: 10px !important;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: var(--small-radius);
	padding: var(--spacing-small);
	background-color: var(--color-brand-primary);
	color: var(--color-light-primary);
}


.project-date {
	font-size: var(--subtitle-text-size);
!important;
	line-height: var(--line-height);
	text-transform: uppercase;
	color: var(--color-passive-element);
	position: absolute;
	right: var(--spacing-small);
	bottom: var(--spacing-small);
}

/* ----------------------- Grid Layout--------------------------- */

.quarto-listing {
	width: var(--max-body-width);
	justify-content: center;
	align-content: center;
	margin: 0 auto;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--project-card-height), 1fr));
	grid-gap: var(--spacing-huge);
	padding-left: var(--spacing-huge);
}

.card {
	background-color: var(--color-light-contrast);
	border: var(--border-width) solid var(--color-light-contrast);
	border-radius: var(--default-radius);
	flex-direction: row;
	height: var(--project-card-height);
	width: var(--project-card-height);
	overflow: clip;
}

.card-body {
	padding: var(--spacing-large);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-title-default {
	position: absolute;
	text-transform: uppercase;
	left: var(--spacing-small);
	bottom: var(--spacing-small);
	font-size: var(--subtitle-text-size);
	color: var(--color-passive-element);
}

.card-details {
	height: 0;
	display: none;
	transition: all var(--transition-default) ease-in-out;
}

.card-title {
	padding: 0;
	font-size: var(--title-font-size);
	line-height: var(--line-height);
	font-weight: var(--bold-weight);
	transition: all var(--transition-short);
}

.card-text {
	font-weight: var(--regular-weight);
	font-size: var(--subtitle-text-size);
	line-height: var(--line-height);
	margin: var(--spacing-small) 0 var(--spacing-medium) 0;
	transition: all var(--transition-short);
}

.card-img {
	margin: 0 auto;
	width: var(--project-card-height);
	height: var(--project-card-height);
	object-fit: cover;
	overflow: clip;
	display: flex;
	align-content: center;
	border-radius: var(--default-radius);
	transition: all var(--transition-default) ease-out;
}

.listing-categories {
	transition: all var(--transition-default);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}


/* Listing category NOTE: important is needed to override the default bootstrap styling */
.listing-category,
.quarto-category {
	border: 1px solid;
!important;
	margin-right: var(--spacing-small) !important;
	margin-top: var(--spacing-small) !important;
	padding: var(--spacing-small) !important;
	width: fit-content;
	border-radius: var(--small-radius);
!important;
	font-size: var(--subtitle-text-size);
!important;
	text-transform: uppercase;
!important;
}

.card:hover .card-text {
	opacity: 1;
}

.card:hover .listing-categories {
	opacity: 0.69;
}

.card:hover .card-img {
	height: 0;
}

.card:hover .card-details {
	height: auto;
	display: block;
}

.card:hover .card-title-default {
	opacity: 0;
}

/* ----------------------------- Project Page Styling ----------------------------- */

#title-block-header .quarto-title-banner {
	width: var(--max-content-width);
	height: var(--project-card-height);
	border-radius: var(--default-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
!important;
	box-sizing: border-box;
}

.quarto-title-block {
	width: var(--max-content-width);
!important;
	margin: 0 auto;
!important;
	padding: 0;
!important;
	height: var(--project-card-height);
!important;
}

/* -------------------------------- Project Page Styling --------------------------------  */
.quarto-title-banner-image {
	max-width: var(--max-image-width);
	flex-shrink: 0; /* Prevent the image from shrinking */
	margin-right: var(--spacing-large);
}

.img-cover {
	width: var(--project-card-height);
	height: var(--project-card-height);
	object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
	border-bottom-left-radius: var(--default-radius);
	border-top-left-radius: var(--default-radius);
	margin: 0;
}

/* Ensure the text part takes remaining width */
.column-body {
	flex-grow: 1; /* Make sure text takes up available space */
}

.description {
	font-size: var(--regular-text-size);
	line-height: var(--line-height);
	margin: 0 auto;
}

/* Project footer */
#quarto-footer {
	position: fixed;
	bottom: var(--spacing-large);
	right: var(--spacing-large);
	padding: var(--spacing-small);
	margin: 0 auto;
	height: auto;
	width: var(--project-footer-width);
	border-radius: var(--default-radius);
	font-size: var(--regular-text-size);
	backdrop-filter: blur(var(--blur-radius));
}

.light-mode #quarto-footer {
	background-color: var(--color-light-contrast);
	color: var(--color-light-imp);
	box-shadow: var(--shadows-light);
}

.dark-mode #quarto-footer {
	background-color: var(--color-dark-contrast);
	color: var(--color-dark-imp);
	box-shadow: var(--shadows-dark);
}

.footer-title {
	font-weight: var(--bold-weight);
	text-align: left;
	margin: 0 auto;
}

#footer-toggle {
	border: none;
	background-color: transparent;
}

.footer-toc {
	padding: var(--spacing-small);
	text-align: left;
	margin: 0 auto;
	list-style-type: none;
}

.footer-toc li {
	padding-left: var(--spacing-huge);
	text-align: left;
	border: none;
	margin: 0 auto;
}

.footer-hidden {
	max-height: 40px;
	right: var(--spacing-large);
	bottom: 0;
	position: fixed;
}

.footer-toc li p, .footer-toc li a {
	font-size: var(--regular-text-size);
	text-decoration: none;
	transition: all var(--transition-short);
	opacity: 1;
}

.footer-hidden li p, .footer-hidden li a {
	opacity: 0;
}

.footer-toc .nav-link {
	text-decoration: none;
	border: none;
	transition: all var(--transition-default);
}

.footer-toc .nav-link.active {
	color: var(--color-brand-primary);
	text-decoration: underline;
}

.light-mode .footer-icon {
	color: var(--color-light-imp);
}

.dark-mode .footer-icon {
	color: var(--color-dark-imp);
}



/* -------------------------------- Project content --------------------------------  */
#quarto-document-content {
	max-width: var(--max-content-width);
	padding: var(--spacing-medium);
	box-sizing: border-box;
	margin: 0 auto;
	padding-left: 20px; /* Adjust the padding as needed */
	padding-right: 20px; /* Adjust the padding as needed */
	font-size: var(--regular-text-size);
	line-height: var(--line-height);
}

/* Code block styling */
code {
	color: var(--color-brand-primary);
	padding: 0;
	border: none;
	border-radius: var(--default-radius);
	font-family: 'Courier New', Courier, monospace;
	font-size: var(--regular-text-size);
}

.sourceCode .pre {
	background-color: transparent;
	border: none;
	padding: var(--spacing-medium);
	white-space: pre-wrap;
	overflow-x: auto;
}

.sourceCode .keyword {
	color: var(--color-brand-primary);
	font-weight: var(--bold-weight);
}

.sourceCode .string {
	color: #000000; /* Color for strings */
}

.sourceCode .comment {
	color: #6a737d; /* Color for comments */
	font-style: italic; /* Italicize comments */
}

.sourceCode .number {
	color: #0075f8; /* Color for numbers */
}

.sourceCode .function {
	color: #0075f8; /* Color for function names */
}

.code-copy-button {
	background-color: transparent;
	color: var(--color-dark-imp);;
	border: none;
	padding: 12px 0;
	cursor: pointer;
	border-radius: var(--border-width);
	position: absolute;
	right: var(--spacing-medium);
	top: var(--spacing-medium);
}

/* Project Images */
img.img-fluid {
	width: calc(var(--max-image-width) * 0.8);
	height: auto;
	display: block;
	margin: var(--spacing-medium) auto;
	border-radius: var(--default-radius);
	padding: var(--spacing-large);
}

/* Full-screen overlay styling */
.full-screen-modal {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: var(--z-index-overlay);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.47); /* Black with transparency */
	backdrop-filter: blur(var(--blur-radius));
	justify-content: center;
	align-items: center;
	border-radius: var(--default-radius);
}

.full-screen-modal img {
	max-width: 90%;
	max-height: 90%;
}

/* Table styling */
table {
	width: 100%;
	border: none;
	border-radius: var(--default-radius);
	margin: var(--spacing-large) 0;
	font-size: var(--regular-text-size);
}

th, td {
	padding: var(--spacing-medium) var(--spacing-medium);
	text-align: left;
}

th {
	background-color: var(--color-brand-primary);
	color: var(--color-dark-imp);;
}

.plot {
	border-radius: var(--default-radius);
	margin: var(--spacing-large) auto;
	width: 500px;
!important; /* Confirm with layout of plot */
	height: 400px;
!important; /* Confirm with layout of plot */
	transition: all var(--transition-default);
}

/* -------------------------- App Styling -------------------------- */

.app-drawer {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: var(--spacing-large);
	height: 100%;
	margin: 0 auto;
	width: var(--max-body-width);
	background-color: transparent;
	border-width: var(--border-width);
}

.app-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	margin: 0 auto;
	width: var(--app-window-width);
	height: var(--app-window-height);
	background-color: transparent;
	border-radius: var(--default-radius);
	border-width: var(--border-width);
	border-style: solid;
}

.app-window.full-screen-modal {
	width: 100vw; /* Full viewport width */
	height: 100vh; /* Full viewport height */
	display: flex;
	justify-content: center;
	align-items: center;
}


.app-controller-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	height: auto;
	width: calc(0.96 * var(--app-window-width));
	margin: auto auto var(--spacing-huge);
	z-index: var(--z-index-max);
	background-color: transparent;
}

.app-controller {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	height: auto;
	width: 100%;
	border-radius: var(--default-radius);
	padding: var(--spacing-medium);
	backdrop-filter: blur(var(--blur-radius));
	transition: all var(--transition-default);
}


.app-controller.hidden {
	height: 0; /* Collapsed state */
}

.app-controller-item {
	height: 100%;
	display: flex;
	align-items: center;
	padding: var(--spacing-medium);
	border-right: solid var(--border-width) var(--color-dark-contrast);
}

.app-controller-item:last-child {
	border-right: none;
}

.app-brand-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	width: auto;
}

.app-brand-container .bi {
	font-size: var(--large-icon-size);
	color: var(--color-brand-primary);
	padding: 0;
	margin: 0 auto;
}

.app-name {
	font-size: var(--regular-text-size);
	font-weight: var(--bold-weight);
	margin-left: var(--spacing-small);
	margin-right: var(--spacing-small);
	color: var(--color-brand-primary);
	padding: 0;
	text-transform: uppercase;
}

.app-button {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	height: var(--app-button-height);
	width: auto;
	font-size: var(--regular-text-size);
	padding: var(--spacing-medium);
	border-radius: var(--default-radius);
	border: none;
	transition: all var(--transition-default);
}


.app-button:hover {
	transform: scale(var(--transform-scale));
}

.app-button .bi:active {
	transform: scale(var(--active-scale));
}


/* -------------------------- Music App Styling -------------------------- */
canvas {
	position: absolute;
	width: var(--app-window-width);
	height: var(--app-window-height);
	border-radius: var(--default-radius);
	padding: var(--spacing-small);
	overflow: clip;
	background-color: black;
	justify-items: center;
	align-items: center;
}


.full-screen-modal canvas {
	width: 100vw;
	height: 100vh;
	display: block;
	object-fit: cover;
}

.music-hud {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
	background-color: transparent;
}

.music-controls {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	background-color: transparent;
}

/* -------------------------- Light Mode -------------------------- */

.light-mode .about-entity {
	border-color: var(--color-light-contrast);
	background-color: var(--color-light-primary);
	color: var(--color-light-imp);
	box-shadow: var(--shadows-light);
}


.light-mode .card {
	background-color: var(--color-light-contrast);
	border-color: var(--color-light-contrast);
}

.light-mode .card:hover {
	box-shadow: var(--shadows-light);
}

.light-mode .card-title {
	color: var(--color-light-imp);
}

.light-mode .card-text {
	color: var(--color-light-imp);
}

.light-mode .quarto-title-banner {
	color: var(--color-light-imp);
	background-color: var(--color-light-contrast);
	box-shadow: var(--shadows-light);
}

.light-mode code.sourceCode {
	background-color: var(--color-light-contrast);
}

.light-mode code.sourceCode:hover {
	box-shadow: var(--shadows-light);
}

.light-mode code.inline {
	background-color: transparent;
}


.light-mode .search-container {
	border-color: var(--color-light-contrast);
	color: var(--color-light-imp);
	background-color: var(--color-light-primary);
}

.light-mode .search-input:focus,
.light-mode .search-input:active,
.light-mode .search-input:hover {
	color: var(--color-light-imp);
	background-color: var(--color-light-contrast);
}


.light-mode .listing-category,
.light-mode .quarto-category {
	border-color: var(--color-light-imp) !important;
	color: var(--color-light-imp) !important;
}

.light-mode tr:hover {
	background-color: var(--color-light-contrast);
}

.light-mode .plot:hover {
	box-shadow: var(--shadows-light);
}

.light-mode .plot {
	background-color: var(--color-light-contrast);
!important;
}

.light-mode .app-drawer {
	border-color: var(--color-light-contrast);
}

.light-mode .app-controller {
	border-color: var(--color-light-contrast);
	background-color: var(--color-light-contrast);
	color: var(--color-light-imp);
}

.light-mode input[type="range"] {
	background: var(--color-light-contrast);
}


.light-mode .app-button {
	background-color: var(--color-light-contrast);
	box-shadow: var(--shadows-light);
}


.light-mode .app-window {
	border-color: var(--color-light-contrast);
}


.light-mode .app-controller-item {
	border-color: var(--color-light-contrast);
}

.light-mode .app-window {
	box-shadow: var(--shadows-light);
}

.light-mode .custom-dropdown {
	background-color: var(--color-light-contrast);
	color: var(--color-light-imp);
}


/* -------------------------- Dark Mode -------------------------- */

.dark-mode .about-entity {
	border-color: var(--color-dark-contrast);
	background-color: var(--color-dark-primary);
	color: var(--color-dark-imp);
	box-shadow: var(--shadows-dark);
}


.dark-mode .card {
	background-color: var(--color-dark-contrast);
	border-color: var(--color-dark-contrast);
}

.dark-mode .card:hover {
	box-shadow: var(--shadows-dark);
}

.dark-mode .card-title {
	color: var(--color-dark-imp);
}

.dark-mode .card-text {
	color: var(--color-dark-imp);
}

.dark-mode .quarto-title-banner {
	background-color: var(--color-dark-contrast);
	color: var(--color-dark-imp);
}

.dark-mode code.sourceCode {
	background-color: var(--color-dark-contrast);
}

.dark-mode code.sourceCode:hover {
	box-shadow: var(--shadows-dark);
}

.dark-mode code.inline {
	background-color: transparent;
}

.dark-mode .search-container {
	border-color: var(--color-dark-contrast);
	color: var(--color-dark-imp);
	background-color: var(--color-dark-contrast);
}

.dark-mode .search-input:focus,
.dark-mode .search-input:active,
.dark-mode .search-input:hover {
	color: var(--color-dark-imp);
	background-color: var(--color-dark-contrast);
}

.dark-mode .listing-category,
.dark-mode .quarto-category {
	border-color: var(--color-dark-imp) !important;
	color: var(--color-dark-imp) !important;
}

.dark-mode tr:hover {
	background-color: var(--color-dark-contrast);
}

.dark-mode .plot:hover {
	box-shadow: var(--shadows-dark);
}

.dark-mode .plot {
	background-color: var(--color-dark-contrast);
!important;
}

.dark-mode .app-drawer {
	border-color: var(--color-dark-contrast);
}

.dark-mode .app-controller {
	border-color: var(--color-dark-contrast);
	background-color: var(--color-dark-contrast);
	color: var(--color-dark-imp);
}

.dark-mode input[type="range"] {
	background: var(--color-dark-contrast);
}

.dark-mode .app-button {
	background-color: var(--color-dark-contrast);
	box-shadow: var(--shadows-dark);
}


.dark-mode .app-window {
	border-color: var(--color-dark-contrast);
}

.dark-mode .app-controller-item {
	border-color: var(--color-dark-contrast);
}

.dark-mode .app-window {
	box-shadow: var(--shadows-dark);
}

.dark-mode .custom-dropdown {
	background-color: var(--color-dark-contrast);
	color: var(--color-dark-imp);
}